<form action="create_user" method="post">
  <label for="fname">What's your name</label>
  <br>
  <input type="text" name="fname" value="" placeholder="Pedro">
  <br>
  <label for="lname">What's your lastname</label>
  <br>
  <input type="text" name="lname" value="" placeholder="Perez">
  <br>
  <label for="age">Age</label>
  <br>
  <input type="text" name="age" value="">
  <br>
  <input type="submit" name="" value="Create your account">

</form>
